.intro{
    margin: 10%;
    margin-top: 7%;
    font-size: 30px;
    padding: 2%;
    border: solid black;
    /* border-radius: 6%; */
    background-color: white;
    /* background-color: white; */
}
h3{
    margin-top: 15px;
}
.linkedin{
    height: 40px;
    width: 40px;
}
img{
    margin: 10px;
}