
 .search-box{
  display: flex;
  justify-content: center;
 }
#input-box {
    width: 750px;
    padding: 10px;
    margin-top: 200px;
    border: 1px solid black;
    border-radius: 0.2rem;
    font-size: 1rem;
    outline: none;
    position: relative;

  }
  .search{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin-top: 200px;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
  
  }
  .imge{
    /* margin-top: 50px; */
    padding: 20px;
    font-family: 'lato';
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .button{
   /* margin-left: 41.5%; */
   /* margin-top: 2%; */
   width: 250px;
   height: 70px;
   cursor: pointer;
  color: aqua;
  font-family: 'lato';
  font-size: 25px;
  background-color: rgb(15, 15, 67);
  }
  .button-div{
    display: flex;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
  }
  @media(max-width: 1300px ){
    .search{
      width: 80px;
      height: 30px;
      border: 1px solid black;
      margin-top: 170px;
      font-size: 0.8rem;
    
    }
    #input-box {
      width: 650px;
      height: 12px;
      padding: 8px;
      margin-top: 170px;
      border: 1px solid black;
      border-radius: 0.2rem;
      font-size: 0.8rem;
  
    }
    .button{
      /* margin-left: 37.5%; */
      /* margin-top: 1.7%; */
      width: 210px;
      height: 55px;
     font-size: 20px;
    
     }
     .imge{
      /* margin-top: 30px; */
      padding: 20px;
      font-size: 25px;
    }
  }
    @media(max-width: 1000px ){
      .search{
        width: 60px;
        height: 24px;
        border: 1px solid black;
        margin-top: 140px;
        font-size: 0.6rem;
      
      }
      #input-box {
        width: 500px;
        height: 10px;
        padding: 6px;
        margin-top: 140px;
        border: 1px solid black;
        border-radius: 0.2rem;
        font-size: 0.6rem;
    
      }
      .button{
        /* margin-left: 37.5%; */
        /* margin-top: 1.7%; */
        width: 160px;
        height: 40px;
       font-size: 16px;
      
       }
       .imge{
        /* margin-top: 30px; */
        padding: 16px;
        font-size: 20px;
      }
     
  }