
.navbar{
    width: 100%;
    height: 100px;
    background-color: rgb(39, 16, 97);
    display: flex;
    justify-content: space-between;
}
.list li{
    font-size: 25px;
    position: relative;
    list-style-type: none;
    display: inline-block;
    /* justify-content: end; */
    color: white;
    font-family: 'lato';
    cursor: pointer;
    margin-right: 8%;
}
    .list{
        display: flex;
        justify-content: end;
        /* align-items: center; */
        width: 80%;
        margin-top: 2.5%;

      }
      a{
    text-decoration: none;
color: white;
      }
.logo{
    /* position: absolute; */
    margin-left: 14%;
    margin-top: 12px;
    /* margin-right: 150px; */
    width: 220px;
    height: 70px;
    cursor: pointer;
}
.option{
display: none;
list-style: none;
font-size: 30px;
background-color: blue;
padding: 20px;
/* justify-content: space-evenly; */
position: absolute;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
  /* z-index: 1; */
  text-decoration: none;
  color: white;
  font-family: 'lato';
}
.line {
    display: none;
margin-top: 12px;
margin-right: 3%;
}
.line:hover .option{
display: block;
}
@media(max-width: 1377px ){
    .line{
        display: block;
    }
    .list{
        display: none;
    }
}



