
.image{
    height: 350px;
    width: 350px;
    margin-top: 3%;
    border: solid;
    box-shadow: black;
    border-color: black;
    border-radius: 10%;
}
.name{
    display: inline-block;
    justify-content: left;
    background-color: rgb(136, 134, 195);
    font-family: 'lato';
    font-size: 45px;
    color: black;
    border-radius: 5%;
    margin-left: 7%;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid black;

    
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.block{
    margin-top: 6%;
}
.hidden{
    display: none;
}
.nofound{
    display: inline-block;
    border-radius: 8%;
    padding: 2%;
    margin-top: 20%;
    margin-left: 35%;
    font-size: 50px;
    background-color: white;
}
.table{
    list-style: none;
    font-size: 40px;
    font-family: 'lato';
    padding: 20px;
    color: black;

}
.table-back{
    display: inline-block;
    background-color: white;
    border-radius: 10%;
    border: solid black;
}
.score{
    width: 280px;
    height: 140px;
     
}
@media(max-width: 1340px ){
    .table{
    font-size: 33px;
    padding: 15px;
    
    }
    .image{
        height: 300px;
        width: 300px;
        border-radius: 8%;
    }
    .name{
        font-size: 35px;
        padding: 15px;
    }
    .score{
        width: 240px;
        height: 120px;
         
    }
   
}
@media(max-width: 1200px ){
    .table{
    font-size: 25px;
    padding: 12px;
    
    }
    .image{
        height: 260px;
        width: 260px;
        border-radius: 8%;
    }
    .name{
        font-size: 30px;
        padding: 12px;
    }
    .score{
        width: 200px;
        height: 100px;
         
    }
}
@media(max-width: 1000px ){
    .table{
    font-size: 20px;
    padding: 10px;
    
    }
    .image{
        height: 220px;
        width: 220px;
        border-radius: 6%;
    }
    .name{
        font-size: 22px;
        padding: 8px;
    }
    .score{
        width: 170px;
        height: 85px;
         
    }
}
@media(max-width: 850px ){
    .table{
    font-size: 16px;
    padding: 8px;
    
    }
    .image{
        height: 180px;
        width: 180px;
        border-radius: 6%;
    }
    .name{
        font-size: 18px;
        padding: 6px;
    }
    .score{
        width: 150px;
        height: 75px;
         
    }
}
@media(max-width: 500px ){
    .table{
    font-size: 20px;
    padding: 8px;
    margin-bottom: 20px;

    
    }
    .image{
        height: 200px;
        width: 220px;
        border-radius: 6%;
        margin-bottom: 20px;
    }
    .name{
        font-size: 12px;
        padding: 4px;
        margin-left: 70px;
    }
    .score{
        width: 170px;
        height: 85px;
         margin-top: 10px;
    }
    .row{
        display: list-item;
        margin-left: 20%;
    }
}
